*, ul{
    margin: 0px;
}
a:visited{
    color: #000;
}
/*nav*/
.site-header{
    background-color: #fff15b;
}
.navbar{
    height: 100px;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: flex-start;
    align-items: flex-end;
}
.logo{
    width: 162px;
    height: 40px;
}
.logo-chico{
    display: none;
}
.aws-container,.aws-search-form{
    width: 580px;
    height: 40px!important;
}
.disney-nav{
    width: 390px;
    height: 40px;
}
.disney-nav img{
    float: right;
}
.ubicacion{
    width:162px ;
    height:40px ;
    display: flex;
    align-items: flex-end;
    
}
.ubicacion a span{
    font-size: 14px;
    color: #33333399;
    text-decoration: none;

}
.ubicacion a{
    text-decoration: none;
}
.nav-1{
    width: 580px;
    height: 40px;
}
.nav-2{
    width: 390px;
    height: 40px;
    justify-content: flex-end;
}
.navbar-nav:first-child .nav-item:first-child .nav-link{
    padding-left: 0px;
}
.nav-link{
    padding-bottom: 0px;
    font-size: 14px;
    color: #33333399;
}
.nav-1, .nav-2{
    align-items: flex-end;
}
.cont-nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start!important ;
    gap: 0px 24px;
    height: 100px;
    padding: 8px 10px 12px 10px;
    max-width: 1200px;
    margin: auto;
    align-items: end!important;
    
}
/*nav*/

/*main*/
.site-main{
background-color: #EBEBEB;
}
.rectangulo-pagos{
    background-color: #fff;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    border-radius:5px ;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    border-left: 4px solid #3483FA;
}
.pagos{
    list-style: none;
}
.ico-pagos{
    color: #5697FA;
    border: 0.5px solid #d9d9d9;
    border-radius: 100%;
    padding: 12px;
}

.carousel-inner {
    max-width: 1600px;
    margin: auto;
}
.sec-beneficios{
    background-color: #fff;
}
.cont-beneficios{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 60px 0px 30px 0px;
}
#media_image-13,#media_image-10,#media_image-11{
    display: flex;
    justify-content: center;
}
.img-benefi{
    width: 60px;
    height: 46px!important;
}
.row-benefi{
    width: 33%;
    padding: 10px 30px;
}
.widgettitle {
    text-align: center;
    font-size: 20px;
}
.textwidget{
    text-align: center;
    font-size: 15px;
}
.wid-benefi{
    margin-bottom: 20px;
}
/*main*/

/*footer*/
.site-footer{
    background-color:#F7F7F7;
}
.info-footer{
    list-style: none;
    margin-bottom: 8px;
    margin-right: 16px;
    font-size: 13px;
    color: #333333;
}
.info{
    display: flex;   
    flex-wrap: wrap;   
    flex-direction: row;
    justify-content: left;
    padding: 0px;
    margin: 0;
    
}
.texto-foot{
    font-size: 12px;
    display: block;
    margin: 2px 0 0;
    color: #999;
}
.foot-abajo{
    padding: 16px 10px;
}
.accordion{
    background-color:#F7F7F7 ;
}
.accordion-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color:#F7F7F7;
}
.foot-arriba{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.mini-titulo{
    font-weight: 600;
    margin: 0 0 5px;
    margin-bottom: 14px;
    font-size: 14px;
    color: #333;
}
.info-foot-arriba{
    color: #999;
    font-size: 14px;
}
.accordion-button{
    width: 200px;
    margin: auto;
    background-color: #F7F7F7;
}
.accordion-header {
    background-color: #F7F7F7;
}

.accordion-button{
    font-size:13px ;
    color: #666666;
}
.accordion-button:focus {
    outline: 0;
    box-shadow: none;
    
}
.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #F7F7F7;
    box-shadow: none;
    color: #666666;
}
.accordion-button::after {
    background-image: url(../../../../../uploads/2023/06/flecha.png);
    margin-left: 10px;
    
}
.accordion-button:not(.collapsed)::after {
    background-image: url(../../../../../uploads/2023/06/flecha.png);
}
/*footer*/

@media (max-width: 1200px) {
    .aws-container,.aws-search-form{
        width: 400px;
    }
    .nav-1{
        max-width: 400px;
    }
    .nav-2{
    max-width: 330px;
    }
    .disney-nav{
        max-width: 330px;
    }
    
}
@media (max-width: 991px) {
    .disney-nav{
        display: none;
    }
    .ubicacion{
      display: none;
    }
    .navbar,.cont-nav{
        height: 60px;
    }
    .cont-nav{
        justify-content: space-between!important;
    }
    .nav-1,.nav-2,.navbar-nav{
        z-index: 999;
        background-color: #fff;
        margin-top: 12px;
        max-width: 100%;
        height: auto;
    }
    .nav-2{
        margin-top: 0px;
    }
    
}
@media (max-width: 768px) {
    .aws-container,.aws-search-form{
        max-width: 300px;
    }
    .logo{
        display: none;
    }
    .logo-chico{
        display: block;
        height: 40px;
        width: 60px;
    }
    
}
@media (max-width:576px) {
   .aws-container,.aws-search-form{
        max-width: 200px;
    }
    .cont-nav{
    gap: 0px 10px; 
    }
    
}

