*{
    margin: 0px;
}
/*nav*/
.site-header{
    background-color: #FFF159;
}
.main-navigation{
    
    display: grid;
    grid-template-areas:
        "nav-left-top nav-center-top nav-right-top"
        "nav-left-bottom nav-center-bottom nav-right-bottom";
    grid-template-columns: 162px minmax(340px, 580px) minmax(350px, 390px);
    grid-template-rows: 40px 28px;
    grid-column-gap: 24px;
    row-gap: 12px;
    grid-row-gap: 12px;
    padding: 8px 10px 12px 10px;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.custom-logo-link{
    grid-area: nav-left-top;
}
.custom-search{
    grid-area: nav-center-top;
    height: 40px;
    -webkit-align-items: center;
    align-items: center;
}
.search-field{
    width: 100%;
    height: 100%;
    border: 0px !important;
}
.search-form{
    display: flex;
    width: 100%;
    height: 100%;
}
.search-form label{
    width: 100%;
}
.disney-nav{
    grid-area: nav-right-top;
    display: flex;
    justify-content: end;
}

.menu-nav1-container{
    grid-area: nav-center-bottom;
    padding: 4px;
    margin: -4px;
    height: 36px;
    display: flex;
    align-items: flex-end;
}
#primary-menu li a{
    color: #33333399;
    font-size: 14px;
}
.menu li a{
    color: #333333;
    font-size: 14px;
    margin-right: 10px;
}
.menu-nav2-container{
    grid-area: nav-right-bottom;
    display: flex;
    align-items: flex-end;
}
#primary-menu li a:hover{
    color: #000;
    
}
.sub-menu{
    background-color: #333333;
    flex-direction: column;
    padding: 10px!important;
}
.sub-menu li a{
    color: #fff!important;
}
/*nav*/

/*main*/
.site-main{
background-color: #EBEBEB;
}
.rectangulo-pagos{
    background-color: #fff;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    border-radius:5px ;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    border-left: 4px solid #3483FA;
}
.pagos{
    list-style: none;
}
.ico-pagos{
    color: #5697FA;
    border: 0.5px solid #d9d9d9;
    border-radius: 100%;
    padding: 12px;
}

.carousel-inner {
    max-width: 1600px;
    margin: auto;
}
.sec-beneficios{
    background-color: #fff;
}
.cont-beneficios{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 60px 0px 30px 0px;
}
#media_image-13,#media_image-10,#media_image-11{
    display: flex;
    justify-content: center;
}
.img-benefi{
    width: 60px;
    height: 46px!important;
}
.row-benefi{
    width: 33%;
    padding: 10px 30px;
}
.widgettitle {
    text-align: center;
    font-size: 20px;
}
.textwidget{
    text-align: center;
    font-size: 15px;
}
.wid-benefi{
    margin-bottom: 20px;
}
/*main*/

/*footer*/
.site-footer{
    background-color:#F7F7F7;
}
.info-footer{
    list-style: none;
    margin-bottom: 8px;
    margin-right: 16px;
    font-size: 13px;
    color: #333333;
}
.info{
    display: flex;   
    flex-wrap: wrap;   
    flex-direction: row;
    justify-content: left;
    padding: 0px;
    margin: 0;
    
}
.texto-foot{
    font-size: 12px;
    display: block;
    margin: 2px 0 0;
    color: #999;
}
.foot-abajo{
    padding: 16px 10px;
}
.accordion{
    background-color:#F7F7F7 ;
}
.accordion-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color:#F7F7F7;
}
.foot-arriba{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.mini-titulo{
    font-weight: 600;
    margin: 0 0 5px;
    margin-bottom: 14px;
    font-size: 14px;
    color: #333;
}
.info-foot-arriba{
    color: #999;
    font-size: 14px;
}
.accordion-button{
    width: 200px;
    margin: auto;
    background-color: #F7F7F7;
}
.accordion-header {
    background-color: #F7F7F7;
}

.accordion-button{
    font-size:13px ;
    color: #666666;
}
.accordion-button:focus {
    outline: 0;
    box-shadow: none;
    
}
.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #F7F7F7;
    box-shadow: none;
    color: #666666;
}
.accordion-button::after {
    background-image: url(../../../../../uploads/2023/06/flecha.png);
    margin-left: 10px;
    
}
.accordion-button:not(.collapsed)::after {
    background-image: url(../../../../../uploads/2023/06/flecha.png);
}
/*footer*/